* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/*
Montserrat Bold 32px
Montserrat Regular 16px
Montserrat Regular 12px

    #132039
*/

body {
    background: #f3f3f3;
}
header {
    background: #ffffff;
    padding: 30px;
}
header h1 {
    color: #28385E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    margin-bottom: 10px;
}
.maincontainer {
    padding-top: 30px;
}

/* buttons */
input[type="button"] {
    
    font-family:  'Montserrat', sans-serif;
    font-size: 14px;

    border: none;
    border-radius: 3px;
    padding: 4px;


    color: #f3f3f3;
    background: #132039;
    cursor: pointer;
  }
.Add--card--button {
    width: 120px;
}
.Delete--card--button {
    margin-right: 5px;
    width: 100px;
}
.Show--card--button {
    width: 100px;
}

/* Card */
.Card {

    display: inline-block;

    margin-left: 30px;
    margin-bottom: 30px;
}
.ticket {
    background: #28385E;
    margin-top: 8px;
    height: 250px;
    border-radius: 3px;

    text-align: center;
}
.ticket p {
    padding-top: 15px;
    color: white;

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}